html, body {
  height: 100%;
  margin: 0;
}

h1 {
  color: #002269;
  background: rgba(255, 255, 255, 0.7); 
  display: inline; 
  padding: 0.2em 0.5em; 
  border-radius: 5px; 
  margin-left: 69px; 
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}

body {
  background: url('1.jpg') center center fixed;
  background-size: cover;
  font-family: 'Proxima Nova', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.table-container {
  width: 100%;
  max-width: 800px;
  margin: 20px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.line-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.line strong {
  margin-bottom: 7px;
}

.line .status {
  font-weight: bold;
}

.reason {
  margin-top: 5px;
  font-size: 14px;
  color: inherit;
   font-weight: bold;
   background-color: #f0f0f0; 
  padding: 10px; 
  border-radius: 5px; 
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
    transform: scale(0.9); 
    transform-origin: center; /* Scaling from center */
  }


.tables-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  height: auto; 
}

.table-left {
  width: 48%; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin: 10px; 
}

.table-right {
  width: 48%; 
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 10px; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  background-color: transparent;
}
